html{
  background-image: url(../画像ap/背景１.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
body{
	margin:0px;

}.hd{
  margin-top:0px;
}
article{
  text-align: center;
  margin:auto;
  width: 80%;
}
li{
  list-style: none;
}
.top3{
  margin-top: 60px;
  padding: 0px;
}
.top3 li{
  text-align: center;
  list-style: none;
}
.hyou{
  font-size: 23px; /*票数*/
}
.historyD{
  font-size: 30px;
  text-align: left;
  padding-left: 20px;
}
.history{
  list-style: none;
  display: inline-block;
  vertical-align:top;
  text-align: center;
}
form{
  display: inline-block;
}

.ika4 img {
    width: 200px;
    height: auto;  /* ←縦横比を維持する高さを自動計算 */
}
.ika4{
  list-style: none;
  display: inline-block;
  vertical-align:top;
  text-align: center;
}

.part_line{
  border-style: none;
  background-color: #fff;
  width: 200px;
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    border-bottom: solid 3px #668ad8;
    border-left: solid 3px #668ad8;
    color: #668ad8;
    transition: .4s;
    }

.part_line:hover {
  background-color: #EFFBFB;
    padding-left: 0.7em;
    padding-right: 0.3em;
}
